#ifndef __ENVIRONMENT_H__
#define __ENVIRONMENT_H__

#define WIFI_SSID "SSID of your WiFi"
#define WIFI_PASSWORD "WiFi password here"
#define MQTT_BROKER "IP Address of MQTT broker here"

#endif // __ENVIRONMENT_H__